<p>
  
    <br><br>THE DELIVERY CHARGE IS NOT A DRIVER TIP.<br><br> Offers Available For A Limited Time. You Must Ask/Click For Certain Offers. Additional Charge For Extra Cheese, Stuffed Crust, Pan, And Extra Toppings May Apply.
    <br><br> Product Availability, Combinability Of Discounts And Specials, Prices, Participation, Delivery Areas And Charges, And Minimum Purchase Required For Delivery May Vary. 
    <br>Discounts Are Not Applicable To Tax, Delivery Charge, Or Driver Tip. Availability Of WingStreet® Products And Flavors Varies By Pizza Hut® Location.

<br>If You Are Using A Screen Reader And Are Having Problems Using This Website, Please Call 123-432-432 For Assistance.

® 2018 Pizza, LLC. All Rights Reserved. <br><br>
<br>The Pizza Hut Name, Logos And Related Marks Are Trademarks Of Pizza, LLC.<br><br><br>

The HERSHEY'S® And SPECIAL DARK® Trademarks And Trade Dress Are Used Under License From The Hershey Company. PEPSI®, PEPSI®-COLA, PEPSI® MAX And The Pepsi® Globe Are Registered Trademarks Of PepsiCo, Inc.

<br><br><br>The App Store, IPad, And IPhone Marks Are Trademarks Of Apple, Inc. Twitter Is A Trademark Of Twitter, Inc. Google And Android Are Trademarks Of Google, Inc. Windows Phone Is A Registered Trademark Of Microsoft, Inc.

<br><br><br>All Other Trademarks Are The Property Of Their Respective Owners.

<br><br><br>Portions © QuikOrder, Inc. 1997-2018 Patents 5,991,739; 6,801,228; Other Patents Pending Portions © IPDEV, Co. 1986-2018 Used With Permission
</p>
