<section id="boxes">
    <div class="desc">
      <h1>Available Pizza's in New York</h1>
      <h2>Please select Pizza type</h2>
      <div class="gallery">
        
          <button (click) = "cheeseClick()"><img src={{cheese}}>
        <h3>cheese</h3></button>
      </div>
      <div class="gallery">
          
          <button (click) = "vegClick()"><img src={{veg}}>
          <h3>Veg Pizza</h3></button>
        </div>
        <div class="gallery">
            
            <button (click) = "pepperoniClick()"> <img src={{pepperoni}}>
            <h3>pepperoni Pizza</h3></button>
          </div>
     
     
    </div>
  </section>