<h1>Your Order</h1>
<br>
<h3>Delivery To: </h3><p>Address</p>
<button class="more" (click)="more()">Add More Food</button>
<button class="check">Checkout</button>
<br>
<br>
<br>


<div class="split left">
    <div class="centered">
      <img src="https://cheatcodes4cooking.files.wordpress.com/2012/11/veg-pizza.jpg" alt="Avatar woman">
      <h2>Your pizza</h2>
      <h3>Cost: $9.99</h3>
  
    </div>
  </div>

  <div class="split right">
      <div>
          <fieldset>
              <legend>Order information:</legend>
              First name:<br>
              <input type="text" name="firstname" >
              <br>
              Last name:<br>
              <input type="text" name="lastname" >
              <br>
              Email:<br>
              <input type="email" name="Mail" >
              <br>
              Phone:<br>
              <input type="number" name="phone" >
              <br>
              Card Number:<br>
              <input type="number" name="card" >
              <br>
              Address:<br>
              <input type="text" name="card" >
              <br>
              City:<br>
              <input type="number" name="card" >
              <br>
              State:<br>
              <input type="text" name="card" >
              <br>
              Zip:<br>
              <input type="number" name="card" >
              <br><br>
              <button (click) = "onSubmit()">Submit</button><br><br><br>
            </fieldset>
    
      </div>
    </div>



