

<ul>

  <li> <a class="active" [routerLink]="['/home']">Home </a></li>
  <li><a [routerLink]="['/about']">About Us </a></li>
  <li><a [routerLink]="['/contact']">Contact Us </a></li>
  <li class="dropdown">
    <a class="dropbtn" [routerLink]="['/location']">Location </a>
    <div class="dropdown-content">
      <a [routerLink]="['/newyork']">New York</a>
      <a [routerLink]="['/san']">San Fransisco</a>
      <a [routerLink]="['/chicago']">Chicago</a>
    </div>
  </li>
  
  </ul>

  <router-outlet></router-outlet>